/*Imports Section*/
@import url('./components/reset.css');
@import url('./components/shared.css');
@import url('./components/header.css');
@import url('./components/footer.css');


.main .main-text,
.footer {
    text-align: center;
}
/*MAIN*/
.main .main__img-cover {
    background-image: url("../img/food-herov2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.main .main-text p{
    margin-top: 20px;
    font-size: 20px;
}
.recipes-list-section a {
    font-size: 20px;
    color: var(--almost-black);
}
.recipes-list-section a:hover {
    color: green;
    transition-duration: 0.4s;
}
.recipes-list-section ul {
    margin-top: 40px;
    padding-left: 37vw;
}
.recipes-list-section li {
    margin-bottom: 7px;
    list-style: none;
}
.main p span {
    font-weight: bold;
}
/*Media Query for mobile*/
@media(max-width:720px) {
    /*HEADER*/
    .header__navbar {
        /*box-shadow: -12px -5px 20px 5px;*/
        justify-content: space-between;
    }
    .header__navbar .header__nav-button {
        display: block;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .header__navbar h1 a {
        font-size: 26px;
    }
    .header__navbar .header-nav__menu {
        display: none;
    }
    /*MAIN*/
    .main .main__img-cover {
        height: 300px;
    }
    .recipes-list-section ul {
        padding-left: 20vw;
    }
}