/*Imports Section*/
@import url('./components/reset.css');
@import url('./components/shared.css');
@import url('./components/header.css');
@import url('./components/footer.css');

.header,
.footer {
    text-align: center;
}
/*HEADER*/
.header p a {
    color: var(--almost-black);
    font-weight: bold;
}
.header p a:hover {
    color: green;
    transition-duration: 0.4s;
}
.header-img {
    height: auto;
    width: 400px;
}
/*MAIN*/
.main section {
    padding: 0 15px;
}
/*Media Query for mobile*/
@media(max-width:720px) {
    .header h1 {
        font-size: 26px;
    }
    .header-img {
        width: 250px;
    }
}