/*HEADER*/
.header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 20px;
    box-shadow: -1px -8px 20px 5px;
}
.header__navbar h1 a {
    font-family: 'Damion', cursive;
    text-decoration: none;
    color: rgb(212, 71, 6);
    font-size: 31px;
}
.header__navbar .header-nav__menu {
    display: flex;
    list-style: none;
    gap: 10px;
}
.header__navbar .header__nav-button {
    display: none;
}
.header-nav__menu li a {
    color: var(--almost-black);
    font-weight: bold;
    text-decoration: none;
}
.header-nav__menu li a:hover {
    color: green;
    transition-duration: 0.4s;
}